* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
 header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}
header h1{
  font-size: 32px;
}
nav {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: solid;
  border-bottom: solid;
  border-color: #d9e5ff;
}
nav li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
main{
	width: 100%;
	height: 700px;
	text-align: center;
}
.main{
	width: 800px;
	margin: 50px auto;
}
/*main div{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	/*float: center;
}*/
.a1{
	background-color: #e6ffe9;
	float:left;
	width:200px;
	height: 200px;
}
.a2{background-color: #cbffd3;
	float:left;
	width:200px;
	height: 200px;
}
.a3{background-color: #aeffbd;
	float:left;
	width:200px;
	height: 200px;
	}
.a4{background-color: #93ffab;
	float:left;
	width:200px;
	height: 200px;
	}
.a5{background-color: #f3ffd8;
	float:left;
	width:200px;
	height: 200px;
	}
.a6{background-color: #edffbe;
	float:left;
	width:200px;
	height: 200px;
	}
.a7{background-color: #e9ffa5;
	float:left;
	width:200px;
	height: 200px;
	}
.a8{background-color: #e4ff8d;
	float:left;
	width:200px;
	height: 200px;
	}
.a9{background-color: #d9e5ff;
	float:left;
	width:200px;
	height: 200px;
	}
.a10{background-color: #bad3ff;
	float:left;
	width:200px;
	height: 200px;
	}
.a11{background-color: #a4c6ff;
	float:left;
	width:200px;
	height: 200px;
	}
.a12{background-color: #8eb8ff;
	float:left;
	width:200px;
	height: 200px;
}

footer{
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	margin: 0 auto;
	background-color: #848282;
}
footer p{
	 color: #fff;
}